<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
    </head>
    <body>
        <h3>About Us</h3>
        <h4>Mentors</h4>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ul>
                    <li>Name :</li>
                </ul>
            </pre>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ul>
                    <li>Name :</li>
                </ul>
            </pre>
        </div>
        <h4>Team Members</h4>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ol>
                    <li>Name :</li>
                    <li>Roll No.:</li>
                    <li>Branch :</li>
                    <li>GitHub :</li>
                    <li>LinkedIn :</li>
                </ol>
            </pre>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ol>
                    <li>Name :</li>
                    <li>Roll No.:</li>
                    <li>Branch :</li>
                    <li>GitHub :</li>
                    <li>LinkedIn :</li>
                </ol>
            </pre>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ol>
                    <li>Name :</li>
                    <li>Roll No.:</li>
                    <li>Branch :</li>
                    <li>GitHub :</li>
                    <li>LinkedIn :</li>
                </ol>
            </pre>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"height = "200px">
            <pre>
                <ol>
                    <li>Name :</li>
                    <li>Roll No.:</li>
                    <li>Branch :</li>
                    <li>GitHub :</li>
                    <li>LinkedIn :</li>
                </ol>
            </pre>
        </div>
    </body>
</html>